nav {
  text-shadow: var(--shadow);
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logout,
.login,
.register,
nav > .home,
nav > .favorites {
  background-color: var(--overlay);
  padding: 10px;
  border-radius: 5px;
  color: var(--main-color);
  backdrop-filter: blur(5px);
  width: 150px;
  text-align: center;
  font-size: 1.2rem;
}

nav > .home {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > .home-active-link,
nav > .favorites-active-link {
  background-color: var(--overlay);
  padding: 10px;
  border-radius: 5px;
  color: white;
  backdrop-filter: blur(5px); /* glass effect */
  width: 150px;
  text-align: center;
  font-size: 1.2rem;
  transform: scale(1.1);
  text-decoration: underline white 2px;
}

@media screen and (max-width: 500px) {
  nav {
    justify-content: space-evenly;
  }

  nav > .home,
  nav > .favorites {
    width: 90px;
    font-size: 0.8rem;
    padding: 10px 5px;
  }

  nav > .home-active-link,
  nav > .favorites-active-link {
    width: 100px;
    font-size: 0.9rem;
    padding: 10px 5px;
  }
}

@media (hover: hover) {
    .home:hover,
    .favorites:hover {
        transform: scale(1.1);
    }
}